build/
.gradle/
.idea/
.DS_Store
.Rhistory

/matrix-bom/target/
/matrix-sql/derby.log
/matrix-examples/AnalysisScenario1/analysis_results/
**/out/**
/matrix-examples/LinearRegression/cars.png
/matrix-charts/examples/gg/ggplot2/*.svg
/matrix-charts/examples/gg/ggplot2/*.pdf
/.gradle-user/

/agent-api.log
